@tailwind base;
@tailwind components;
@tailwind utilities;

.carousel::-webkit-scrollbar {
    display: none; /* Hide scrollbar for the carousel */
  }
  
  .carousel {
    -ms-overflow-style: none;  /* Hide scrollbar on IE and Edge */
    scrollbar-width: none;  /* Hide scrollbar on Firefox */
  }